{% extends 'BASE/home.html' %}

{% block body %}
<div class="aboutme">
    <h1>about me.</h1>
    <p>I am a computer engineering co-op student at the University of Guelph. Currently, I am in my fourth year having
        completed course such as Data Structures & Algorithms, Object-Oriented Programming, Large Scale Software
        Architecture and more. I am interested in front-end and back-end software development and looking to gain
        valuable experience in the future.</p>
</div>
{% endblock body %}