{% extends 'BASE/home.html' %}

{% block body %}
<div id="myportfolio">
    <h1 id="portfolio-title">portfolio.</h1>
    <div class="row">
        <div class="col-7" id="exp-col">
            <h3 class="cards">EXPERIENCE</h3>
            <article class="card fn-card" id="experience-cards">

                <div class="experience-header">
                    <img class="company-logo"
                        src="https://media.licdn.com/dms/image/D560BAQF68-6OgFWh-Q/company-logo_200_200/0/1688476832520/first_national_financial_lp_logo?e=2147483647&v=beta&t=F_FhskVXsjLkJ8MPEOTVPeAdnVnFx8yb2frnrYt6JN0"
                        alt="">
                    <h5 class="experience-role">Helpdesk Support Specialist</h5>
                </div>
                <div>
                    <h6 class="company-name">First National Financial LP</h6>
                </div>

                <div>
                    <h6 class="time-worked">May 2023 - August 2023</h6>
                </div>

                <div class="experience-description">
                    <ul>
                        <li>Collaborated in a dynamic 30-member team, providing extensive technical support to
                            internal and third-party employees.</li>
                        <li>Addressed intricate software and hardware issues involving phones, laptops, printers, and
                            other office equipment. </li>
                        <li>Maintained current knowledge on all company software/hardware updates and procedures to
                            assist employees.</li>
                        <li>Exhibited exceptional interpersonal skills and maintained composure in high-pressure and
                            time-sensitive scenarios.</li>
                    </ul>
                </div>
            </article>

            <article class="card pcc-card" id="experience-cards">

                <div class="experience-header">
                    <img class="company-logo"
                        src="https://media.licdn.com/dms/image/D4E0BAQE4wRhEoxYTPQ/company-logo_200_200/0/1688340018905?e=1712188800&v=beta&t=lLuFXkjz0T19Bz9llnBLiNPf9ZAOHwWfuKdBbTzv9aU"
                        alt="">
                    <h5 class="experience-role">Technology Support Specialist</h5>
                </div>
                <div>
                    <h6 class="company-name">PointClickCare</h6>
                </div>

                <div>
                    <h6 class="time-worked">January 2023 - April 2023</h6>
                </div>

                <div class="experience-description">
                    <ul>
                        <li>Contributed to a 12-member team, delivering quality assistance to internal end users regarding hardware and software issues.</li>
                        <li>Deployed various configurations for desktop/laptop computers, tailored to employee’s role.</li>
                        <li>Managed Active Directory for employees, teams, distribution groups and company assets. </li>
                        <li>Conducted server patching and tested network connections to test network infrastructure throughout the office.</li>
                    </ul>
                </div>

            </article>

            <article class="card alphashine-card" id="experience-cards">

                <div class="experience-header">
                    <img class="company-logo"
                        src="https://media.licdn.com/dms/image/C4E0BAQFvwhl41gPpSA/company-logo_200_200/0/1660159368312/alphashine_logo?e=1712188800&v=beta&t=2nhl4C5uo2yD26xubo-pw181R4SgQ9XONBfv2wV-bC4"
                        alt="">
                    <h5 class="experience-role">Detail Associate</h5>
                </div>
                <div>
                    <h6 class="company-name">ALPHASHINE</h6>
                </div>

                <div>
                    <h6 class="time-worked">May 2022 - August 2022</h6>
                </div>

                <div class="experience-description">
                    <ul>
                        <li>Detailed interior and exterior of clients’ vehicles with a great attention to detail, and received acknowledgement of exceptional service from clients and managers</li>
                        <li>Exhibited excellent interpersonal skills when handling clients in a fast paced, detail-oriented environment</li>
                        <li>Provided valet services and handling vehicles with care</li>
                    </ul>
                </div>

            </article>

            <article class="card cosmetica-card" id="experience-cards">

                <div class="experience-header">
                    <img class="company-logo"
                        src="https://media.licdn.com/dms/image/C560BAQE0VThCURuEqA/company-logo_100_100/0/1674660898292/cosmeticalabs_logo?e=1712188800&v=beta&t=krUqj2LeNkBrSlSQTNTjPP5glNiAPAj1-WFLbitXMUI"
                        alt="">
                    <h5 class="experience-role">Production Team Member</h5>
                </div>
                <div>
                    <h6 class="company-name">Cosmetica Laboratories Inc.</h6>
                </div>

                <div>
                    <h6 class="time-worked">April 2021 - September 2021</h6>
                </div>

                <div class="experience-description">
                    <ul>
                        <li>Packaged products and prepared shipments</li>
                        <li>Ensured quality standards for various products are met</li>
                        <li>Worked in fast paced environment to assemble, label, package and ship products efficiently in a timely manner</li>
                    </ul>
                </div>

            </article>

            <article class="card wendys-card" id="experience-cards">

                <div class="experience-header">
                    <img class="company-logo"
                        src="https://media.licdn.com/dms/image/C4D0BAQHyhOA8WdW7eQ/company-logo_100_100/0/1631375589539/wendys_international_logo?e=1712188800&v=beta&t=c2wNAIdBySF6pfwjwGv7EhKPfZZ_xcTioIUoV0V28FE"
                        alt="">
                    <h5 class="experience-role">Crew Member</h5>
                </div>
                <div>
                    <h6 class="company-name">The Wendy's Company</h6>
                </div>

                <div>
                    <h6 class="time-worked">March 2020 - September 2020</h6>
                </div>

                <div class="experience-description">
                    <ul>
                        <li>Worked with a team of 8 to deliver products in a high volume and, fast-paced environment</li>
                        <li>Utilized product knowledge to assist clients in an efficient manner</li>
                        <li>Established strong and positive working relationships with clients and colleagues, receiving recognition for excellent client service</li>
                    </ul>
                </div>

            </article>
            <div class="spacer"></div>
        </div>
        <div class="col" id="edu-col">
            <h3>EDUCATION</h3>
             <article class="card uofg-card" id="education-cards">

                <div class="education-header">
                    <img class="company-logo"
                        src="https://media.licdn.com/dms/image/C560BAQGlCnbiLNr8YQ/company-logo_100_100/0/1656971795144/university_of_guelph_logo?e=1712188800&v=beta&t=WrjhlZ63cGm4avfqE6aGW6J7kpsndTpjE1Y7Pi_8mm4"
                        alt="">
                    <h5 class="experience-role">Computer Engineering Co-op</h5>
                </div>
                <div>
                    <h6 class="company-name">University of Guelph</h6>
                </div>

                <div>
                    <h6 class="time-worked">September 2020 - April 2025</h6>
                </div>
                </article>
        </div>
    </div>
</div>
{% endblock body %}